extends layout
block head-style
	link(rel="stylesheet" href="/stylesheets/codemirror.css")
	style
		| h1{font-size:10em; font-family: 'Comfortaa'; color:white; text-align:center;}
		| .st-pusher .st-content{ background: url("http://nstechnologies.co.in/images/Website-maintenance-by-Xynez-Global-Media.jpg") no-repeat center center fixed; }
		| .main *{margin:0 auto; text-align:center;}
		| .content-box-white{background-color:white; padding:50px; }
		| .content-box-white-title{color:#0f5586;}
		| .uk-form input {display:block; margin:20px auto;}
		| .uk-form textarea {display:block; width:90%; margin:20px auto; box-sizing:border-box;}
		|fieldset {color: #000; font-size:16px}
block header
	div(id="buffer")
		img(id="logo" src="/images/logow.png")
		div(class="uk-width-large-1-1 uk-visible-large")
			h1 Страници
block content
	div(class="content-box-white")
		div(class="content-box-white-title") Промяна на страница #{name}
		form(class="uk-form" action="/change" method="post")
			fieldset(data-uk-margin)
				|name
				input(type="text" name="name" value=name)
				|head
				textarea(type="text" name="head") !{head}
				|scripts
				textarea(id="script" type="text" name="scripts") !{scripts}
				|header
				textarea(type="text" name="header") !{header}
				|content
				textarea(id="first" type="text" name="content") !{content}
				|locals
				textarea(type="text" name="locals") !{locals.locals}
				|dateCreated
				input(type="text" name="dateCreated" value=dateCreated)
				button(class="uk-button-uk-button-success" type="submit") Изпрати
block end-script
	script(src="/javascripts/jquery.autosize.js")
	script(src="/javascripts/codemirror.js")
	script.
		$(function(){
			$('textarea').autosize();
		});